<?xml version="1.0"?>
<config>
    <modules>
        <Poposki_Blog>
            <version>0.1.0</version>
        </Poposki_Blog>
    </modules>
    <global>
        <blocks>
            <poposki_blog>
                <class>Poposki_Blog_Block</class>
            </poposki_blog>
        </blocks>
        <models>
            <poposki_blog>
                <class>Poposki_Blog_Model</class>
                <resourceModel>poposki_blog_resource</resourceModel>
            </poposki_blog>
            <poposki_blog_resource>
                <class>Poposki_Blog_Model_Resource</class>
                <entities>
                    <post>
                        <table>post</table>
                    </post>
                </entities>
            </poposki_blog_resource>
        </models>
    </global>
    <frontend>
        <routers>
            <poposki_blog>
                <use>standard</use>
                <args>
                    <module>Poposki_Blog</module>
                    <frontName>blog</frontName>
                </args>
            </poposki_blog>
        </routers>
        <layout>
            <updates>
                <poposki_blog>
                    <file>poposki/blog.xml</file>
                </poposki_blog>
            </updates>
        </layout>
    </frontend>
</config>